@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container-fluid">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1>ASP.NET</h1>
            <p>Lê Kha</p>
            <p>Lê Kha</p>
        </div>
    </div>
</div>
